<!DOCTYPE html>
<html>
    <head>
        <title>Rebmem Engineering Media Player</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/assets/favicon.ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <div class="title">
            <h1>My Playlist</h1>
        </div>
        <div class="play">
            <button class="shuffle" (click)="playPlaylist()">
                Play From Start
                <i class="material-icons nav__icon">play_arrow</i>
            </button>
        </div>
        <div class="shuffle">
            <button class="shuffle" (click)="shufflePlaylist()">
                Shuffle Playlist
                <i class="material-icons nav__icon">shuffle</i>
            </button>
        </div>
        <div class="container p-5">
            <input class="form-control" type="text" placeholder="Search Music Library" [(ngModel)]="searchText" style="text-align: center;">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Song</th>
                        <th>Artist</th>
                        <th>Play Now</th>
                        <th>Add to Playlist</th>
                    </tr>
                </thead>
                <tbody *ngFor="let e of playlist | search: searchText">
                    <td>
                        <img src="{{e.imagepath}}">
                    </td>
                    <td>{{e.song}}</td>
                    <td>{{e.artist}}</td>
                    <td>
                        <button (click)="playSong(e)">
                            <i class="material-icons nav__icon">play_arrow</i>
                        </button>
                    </td>
                    <td>
                        <button (click)="deleteFromPlaylist(e)">
                            <i class="material-icons nav__icon">delete</i>
                        </button>
                    </td>
                </tbody>
            </table>
        </div>
        <nav class="nav">
            <a routerLink="/library" class="nav__link nav__link">
                <i class="material-icons nav__icon">local_library</i>
                <span class="nav__text">Songs</span>
            </a>
            <a routerLink="/playlist" class="nav__link nav__link--active">
                <i class="material-icons nav__icon">playlist_add_check</i>
                <span class="nav__text">Playlist</span>
            </a>
            <a routerLink="/play" class="nav__link">
                <i class="material-icons nav__icon">play_arrow</i>
                <span class="nav__text">Player</span>
            </a>
            <a routerLink="/account" class="nav__link">
                <i class="material-icons nav__icon">person</i>
                <span class="nav__text">Account</span>
            </a>
        </nav>
    </body>
</html>