<!DOCTYPE html>
<html>
    <head>
        <title>Rebmem Engineering Media Player</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/assets/favicon.ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
        </head>
        <body>
        <div class="title">
            <h1>Music Player</h1>
        </div>
        <div class="currently-playing">
            <h2>{{currentname}}</h2>
        </div>
        <div class="player">
            <div class="music">
                <div class="box">
                    <img src="{{currentimage}}" alt="">
                </div>
                <audio controls>
                    <source src="{{currentsong}}" type="audio/mp3">
                </audio>
            </div>
        </div>
        <div class="next">Up Next
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Song</th>
                        <th>Artist</th>
                        <th>Play</th>
                    </tr>
                </thead>
                <tbody *ngFor="let e of playlist">
                    <td>{{e.song}}</td>
                    <td>{{e.artist}}</td>
                    <td>
                        <button (click)="playSong(e)">
                            <i class="material-icons nav__icon">play_arrow</i>
                        </button>
                    </td>
                </tbody>
            </table>
        </div>
        <nav class="nav">
            <a routerLink="/library" class="nav__link">
                <i class="material-icons nav__icon">local_library</i>
                <span class="nav__text">Songs</span>
            </a>
            <a routerLink="/playlist" class="nav__link nav__link">
                <i class="material-icons nav__icon">playlist_add_check</i>
                <span class="nav__text">Playlist</span>
            </a>
            <a routerLink="/play" class="nav__link nav__link--active">
                <i class="material-icons nav__icon">play_arrow</i>
                <span class="nav__text">Player</span>
            </a>
            <a routerLink="/account" class="nav__link">
                <i class="material-icons nav__icon">person</i>
                <span class="nav__text">Account</span>
            </a>
        </nav>
    </body>
</html>